/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 août 2015, 13:01:47
    Author     : Vincent
*/

#row_title{
    color : #337ab7;
    font-size: 70px;
    text-align: center; 
    margin-bottom: 100px
}

a:hover{
        text-decoration: none;
}

#row_welcome{
    color : #fff;
    text-align: center;
    font-size: 24px;
    margin-bottom: 60px;
    margin-top: 40px;
}

#description_list{
    color: #fff; 
    list-style-type: none;
    font-size : 18px;
    margin-bottom: 40px;
}

.li_description{
            padding: 10px;
}
    
.icon_homepage{
    color : #337ab7;
    padding-right: 12px;
}

#image{
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/soccer.jpg);
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/soccer.jpg);
    background-image: linear-gradient(top, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/soccer.jpg);
    background-size: cover;
    background-position: center;  
}

#container_button{
    text-align: center;
}

#button_letsgoal{
    margin-top: 60px;
    padding: 20px;
    font-size: 28px;
}

.icon_button{
    padding-left: 10px;
}