/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 août 2015, 18:02:47
    Author     : Vincent
*/

.icon_homepage{
    color : #337ab7;
}
.container_dashboard{
   margin-top: 100px;
   margin-bottom: 100px;
   margin-left: 30px;
}

#title_dashboard{
    margin-bottom: 60px;
    color: #337ab7;
}

.p_dashboard{
    font-size: 20px;
    margin-bottom: 16px;
}